.rbc-event-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rbc-event-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.rbc-list-event {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: color ease-in-out 0.15s, background ease-in-out 0.15s;
}

.rbc-list-event:hover {
  color: #25292e;
}

.rbc-toolbar-label {
  color: #25292e !important;
  text-transform: capitalize;
  font-weight: 600;
}

.rbc-col-header-cell-cushion,
.rbc-daygrid-day-number {
  color: #202020;
}

.rbc-btn-group button {
  color: #25292e;
  background-color: #fefefe;
}

.rbc-active {
  box-shadow: none !important;
  font-weight: 600;
  background-color: #efefef !important;
}

.rbc-month-view,
.rbc-time-view,
.rbc-agenda-view {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.1);
}

.rbc-agenda-view {
  padding: 12px;
}

.rbc-agenda-empty {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #919191;
  font-size: 1.25rem;
  font-weight: 500;
}